<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Star Wars Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
   

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="jumbotron">
  <div class="container">


		<p>Name: <%= @starship["name"] %></p>
		<p>Model: <%= @starship["model"] %></p>
		<p>Starship class: <%= @starship["starship_class"] %></p>
		<p>Manufacturer: <%= @starship["manufacturer"] %></p>
		<p>Cost in credits: <%= @starship["cost_in_credits"] %></p>
		<p>Length: <%= @starship["length"] %></p>
		<p>Crew: <%= @starship["crew"] %></p>
		<p>Passengers: <%= @starship["passengers"] %></p>
		<p>Max speed: <%= @starship["max_atmosphering_speed"] %></p>
		<p>Hyperdrive rating: <%= @starship["hyperdrive_rating"] %></p>
		<p>MGLT: <%= @starship["MGLT"] %></p>
		<p>Cargo capacity: <%= @starship["cargo_capacity"] %></p>
		<p>Consumables: <%= @starship["consumables"] %></p>

		<p>Films: <% @films_titles.each do |film| %>
					-<a href="/films/<%= film[1]%>"><%= film[0] %></a>
						<% end %>
		</p>

		<p>Residents: <% @characters_names.each do |char| %>
					-<a href="/characters/<%= char[1]%>"><%= char[0] %></a>
						<% end %>
		</p>

		<p>URL Source: <%= @starship["url"] %></p>
		<p>Created: <%= @starship["created"] %></p>
		<p>Edited: <%= @starship["edited"] %></p>


  </div>
</div>